/* style pour toutes les pages des documents */

body{
    font-family:georgia, serif;
    font-weight: bold;
    background:url("image/Montagne.jpg") no-repeat fixed top right;
}
h1 {
    color: blue;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    letter-spacing: 3px;
}
i{
    font-style:italic;
}
em{
    font-style:italic;
}
h2{
    color: red;
}



#intro{
    color: green;
    text-transform:uppercase;
}


.metier{
    color: purple;
}




